@import url(./node_modules/cesium/Build/Cesium/Widgets/widgets.css);
      html, body, #cesiumContainer {
          height: 100%; margin: 0; padding: 0; overflow: hidden;
      }

iframe {
    width: 100%; 
    height: 100%; 
    border: none; 
}

#container {
    position: relative;
    height: 100%;
}

#cesiumContainer {
    width: 100%;
    height: 100%;
}

#calendarModal {
    width: 100%;
    height: 100%;
}

#SignalContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#demensionBtn {
    position: absolute;
    top: 10px;  
    left: 12px; 
    z-index: 10; 
}

#PassTimeTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#PassTimeTable td, #PassTimeTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#PassTimeTable tr{
    background-color: #f2f2f2;
}

#PassTimeTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#topMenuBar {
    padding-left: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: left;
    background: white;
    color: black;
    height: 20px; 
    box-sizing: border-box;
}

#topMenuBar ul {
    list-style: none; 
    display: flex;
    margin: 0;
    padding: 0;
}

#topMenuBar li {
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#topMenuBar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 900;
}

#topMenuBar .dropdown-content .menu-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#topMenuBar .dropdown-content .menu-item:hover {
    background-color: #f1f1f1;
}

#topMenuBar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#topMenuBar .dropdown-content a:hover {background-color: #f1f1f1}

#presetListContainer {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 10px; 
    max-width: 175px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    z-index: 12; 
}

#addSatelliteContainer {
    position: absolute; 
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc; 
    padding: 10px;
    width: 275px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    z-index: 10; 
}
#presetList {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    width: 100%;
}

#addSatelliteContainer input,
#addSatelliteContainer button {
    padding: 5px 10px; 
    margin-right: 5px; 
}

#addSatelliteContainer button {
    cursor: pointer;
}

#TelemetryContainer{
    max-height: 100%;
    overflow-y: auto;
}

#telemetryTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#telemetryTable td, #telemetryTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#telemetryTable tr{
    background-color: #f2f2f2;
}

#telemetryTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#commandGeneration {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}

#commandDropdown {
    width: 200px;
    padding: 5px;
}

#parameterInputs {
    margin-top: 10px;
}

#executeCommand {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#groundStationModal, #managePresetModal {
    display: none; 
    position: fixed; 
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

#groundStationModal > div, #managePresetModal > div {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}

#PassTime {
    max-height: 300px; /* Adjust the height as needed */
    overflow: auto;
}

#commandGeneration {
    background-color: #f0f0f0;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    position: relative;
    max-height: 400px;
}

#commandDropdown {
    width: 200px;
    padding: 5px;
}

#parameterInputs {
    margin-top: 10px;
}

#addButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#generateCommand {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    bottom: 60px;
}

.commands-list {
    flex: 1;
}

.commands-list h2 {
    margin-bottom: 5px;
}

#parameterInputs {
    margin-top: 10px;
}

#parameterInputs label {
    display: block;
    margin-bottom: 5px;
}

#parameterInputs input {
    margin-bottom: 5px;
}

#commandList {
    list-style: none;
    padding: 0;
}

#commandList li {
    cursor: pointer;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 5px;
}

#commandList li:hover {
    background-color: #e0e0e0;
}

.popup {
    display: none;
    position: fixed;
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Show animation */
.popup.show {
display: block;
opacity: 1;
}

.x-button {
    background-color: #adabab; 
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 2.5px 5px; 
    cursor: pointer;
}

.x-button:hover {
    background-color: #898888;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
